.MoveButton{
    margin-top: 225px;
    background-color: slategrey;
    height: 100px;
    width: 20px;
}
.imgSelecter{
    background-color: dimgray;
    color: dimgrey;
}
.profile{
    display: block
    margin: 0;
    padding: 0;
}
