.MoveButton{
    margin-top: 225px;
    background-color: slategrey;
    height: 100px;
    width: 20px;
}
.imgSelecter{
    background-color: dimgray;
    color: dimgrey;
}
.profile{
    display: block
}
.menuAndDrink{
    font-size: 11.8px;
    color: brown;
    font-family: Noto Serif Japanese;
}
.drinkDetail{
    font-size: 14px;
    color: darkred;
    font-family: Noto Serif Japanese;
}
.imgDetail{
    max-width:100%;
    margin-left: 10%;
    margin-right: 10%;
}
.last{
    position: absolute;
}
.lastAist{
    position: absolute;
    width: 550px;
    right: -138px;
    top: 360px;
}
.background_W{
    overflow: auto;
    background-image: url("../田中太郎/backgroundIMG_W.png");
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;
}
.background_B{
    overflow: auto;
    background-image: url("../田中太郎/backgroundIMG_B.png");
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;
}
.background_G{
    overflow: auto;
    background-image: url("../田中太郎/backgroundIMG_G.png");
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;
}