h1{
    font-family: serif;
    font-size: 40px;
    background-color: rgba(255,255,255,0);
    margin-top: 15px;
}
h2{
    font-family: "Hiragino Mincho ProN", "Hiragino Mincho", serif;
    font-size: 15px;
    color: #444;
}
}
.MoveButton{
    margin-top: 225px;
    background-color: slategrey;
    height: 100px;
    width: 20px;
}
.imgSelecter{
    background-color: dimgray;
    color: dimgrey;
}
.profile{
    display: block
}
.menuAndDrink{
    font-size: 11.8px;
    color: brown;
    font-family: Noto Serif Japanese;
}
.drinkDetail{
    font-size: 14px;
    color: darkred;
    font-family: Noto Serif Japanese;
}
.profileImgDetail{
    width: 280px;
}
.last{
    position: absolute;
}
.lastAist{
    position: absolute;
    width: 550px;
    right: 0px;
    top: 360px;
}
.background_W{
    overflow: auto;
    background-image: url("../田中太郎/backgroundIMG_W.png");
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.background_B{
    overflow: auto;
    background-image: url("../田中太郎/backgroundIMG_B.png");
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.background_O{
    overflow: auto;
    background-image: url("../田中太郎/backgroundIMG_O.png");
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}